<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149852196319-85c1mcahlt8494g8pscp50tie7pgd803.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149852196319-85c1mcahlt8494g8pscp50tie7pgd803</string>
	<key>API_KEY</key>
	<string>AIzaSyAn8jWQZZaXYnuPqAjWlLXIJbMHVE3wMnM</string>
	<key>GCM_SENDER_ID</key>
	<string>149852196319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tushar.Plutus</string>
	<key>PROJECT_ID</key>
	<string>plutus-94360</string>
	<key>STORAGE_BUCKET</key>
	<string>plutus-94360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149852196319:ios:748f2c225c7d7812</string>
	<key>DATABASE_URL</key>
	<string>https://plutus-94360.firebaseio.com</string>
</dict>
</plist>